<div class="container" role="main" style="text-align:center; padding-top: 100px;">
<div class="blogify_title">Blogify</div><br/>
  <div class="row">
    <form action="/new" method="get" class="form-inline">
      <input placeholder="my blog title" type="text" style="width:300px;" name="search" class="form-control" id="search">
      <input class="btn btn-primary" type="submit" value="Write my blog">
    </form>
  </div>
</div>    